[Unit]
Description=braggbnb111
After=syslog.target

[Service]
User=root
Restart=always
RestartSec=30s
ExecStart=/usr/bin/java -jar /var/braggbnb111/braggbnb111-0.0.1-SNAPSHOT.jar SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
